.example-spacer {
    flex: 1 1 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.example-card {
    max-width: 400px;
    width: 100%;
}

.container-search {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.example-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.example-full-width {
    flex: 1;
}

.favorite {
    color: red;
}

.radioButtonsBox {
    display: flex;
    flex: row;
    justify-content: center;
}

.buttonSearch {
    height: 100%;
}